//------COLOR---------------
$color-green-1: rgb(0, 77, 1);
$color-green-2: rgb(0, 128, 0);
$color-violet-1: rgb(102, 51, 153);
$color-yellow-1: rgb(255, 191, 24);
$color-yellow-2: rgb(222, 184, 135);
$color-black-1: rgb(39, 39, 39);
