* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@import "./variable";

.gameTable {
  background-color: $color-green-1;
  width: 100vw;
  height: 100vh;
}
.controllTable {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & .deskCards {
    background-color: $color-violet-1;

    padding: 10px 40px;
    margin-bottom: 20px;

    border: 2px solid white;
    border-radius: 30px;
  }
  & .controllButton {
    & button {
      font-size: 20px;

      padding: 5px 10px;
      margin: 0 10px;

      border: 2px solid white;
      border-radius: 10px;

      cursor: pointer;
      &.shuffleBtn {
        background-color: $color-green-2;
      }
      &.drawBtn {
        background-color: $color-green-2;
      }
      &.revealBtn {
        background-color: $color-green-2;
      }
      &.resetBtn {
        background-color: $color-green-2;
      }
    }
  }
}
